extends layout
block head
	script(type="text/javascript", src="/public/js/adminpolls.js")

block content
	- pollQuestion = ( poll.question ) ? poll.question : ''
	h2 Edit Poll
	p Use the form below to edit the properties of this Poll. Note that poll counts for any existing votes  will be returned to zero.
		form(action="/admin/polls/edit/"+id, method="post")
			section.form-group
				label(for="question") Poll "Question" text:
				textarea.form-control(name="question", rows="4", cols="80", required) #{pollQuestion}
			section.form-group
				label(for="answer_0") Poll "Vote" text (at least 1):
				button.btn.btn-sm.pull-right(type="button", data-delegate="answer_add") Add More
				input.form-control(type="text", name="answer[]", id="answer_0", value=(poll.answers && poll.answers.length > 0) ? poll.answers[0].text : '', required)
			- int = 1
			while ( int < Math.max(5, poll.answers.length) )
				section.form-group
					input.form-control(type="text", name="answer[]", value=(poll.answers.length > int)?poll.answers[int].text:'')
				- int++
			section.form-group.checkbox
				label
					if poll.active
						input(type="checkbox", name="active", value="1", checked)
					else
						input(type="checkbox", name="active", value="1")
					span Poll is available to Users
			button.btn.btn-primary(type="submit") Continue
			a.btn(href="/admin/polls") Cancel