extends layout

block content
	h2 Ready to get started?
	p Make your first poll and unleash it on the world!
	ul.list-group
		li.list-group-item
			a(href="/admin/polls") 0 Polls
		li.list-group-item
			a(href="/admin/logout") Log Out