nav(class="navbar navbar-inverse")
	div(class="container")
		a(href="/", class="navbar-brand") Pollsy
		ul(class="nav navbar-nav navbar-right")
			li
				a(href="/polls") Polls
			li
				a(href="/admin") Admin