extends layout

block content
	h2= "Poll: "+poll.question
	p Poll Results:
	ul#results.list-group
		each answer in poll.answers
			li.list-group-item(data-poll-pct=Math.round(answer.count/poll.totalCount*100))= answer.text
	div.button-toolbox
		a.btn.btn-primary(href="/polls/vote/"+id) Vote
		a.btn.btn-default(href="/polls") Back