#results li { position: relative; padding-bottom: 30px; }
#results li:before { display: block; content: ''; position: absolute; bottom: 0; left: 0; height: 20px; background-color: blue; }
#results li[data-poll-pct="1"]:before { width: 1%; }
#results li[data-poll-pct="2"]:before { width: 2%; }
#results li[data-poll-pct="3"]:before { width: 3%; }
#results li[data-poll-pct="4"]:before { width: 4%; }
#results li[data-poll-pct="5"]:before { width: 5%; }
#results li[data-poll-pct="6"]:before { width: 6%; }
#results li[data-poll-pct="7"]:before { width: 7%; }
#results li[data-poll-pct="8"]:before { width: 8%; }
#results li[data-poll-pct="9"]:before { width: 9%; }
#results li[data-poll-pct="10"]:before { width: 10%; }
#results li[data-poll-pct="11"]:before { width: 11%; }
#results li[data-poll-pct="12"]:before { width: 12%; }
#results li[data-poll-pct="13"]:before { width: 13%; }
#results li[data-poll-pct="14"]:before { width: 14%; }
#results li[data-poll-pct="15"]:before { width: 15%; }
#results li[data-poll-pct="16"]:before { width: 16%; }
#results li[data-poll-pct="17"]:before { width: 17%; }
#results li[data-poll-pct="18"]:before { width: 18%; }
#results li[data-poll-pct="19"]:before { width: 19%; }
#results li[data-poll-pct="20"]:before { width: 20%; }
#results li[data-poll-pct="21"]:before { width: 21%; }
#results li[data-poll-pct="22"]:before { width: 22%; }
#results li[data-poll-pct="23"]:before { width: 23%; }
#results li[data-poll-pct="24"]:before { width: 24%; }
#results li[data-poll-pct="25"]:before { width: 25%; }
#results li[data-poll-pct="26"]:before { width: 26%; }
#results li[data-poll-pct="27"]:before { width: 27%; }
#results li[data-poll-pct="28"]:before { width: 28%; }
#results li[data-poll-pct="29"]:before { width: 29%; }
#results li[data-poll-pct="30"]:before { width: 30%; }
#results li[data-poll-pct="31"]:before { width: 31%; }
#results li[data-poll-pct="32"]:before { width: 32%; }
#results li[data-poll-pct="33"]:before { width: 33%; }
#results li[data-poll-pct="34"]:before { width: 34%; }
#results li[data-poll-pct="35"]:before { width: 35%; }
#results li[data-poll-pct="36"]:before { width: 36%; }
#results li[data-poll-pct="37"]:before { width: 37%; }
#results li[data-poll-pct="38"]:before { width: 38%; }
#results li[data-poll-pct="39"]:before { width: 39%; }
#results li[data-poll-pct="40"]:before { width: 40%; }
#results li[data-poll-pct="41"]:before { width: 41%; }
#results li[data-poll-pct="42"]:before { width: 42%; }
#results li[data-poll-pct="43"]:before { width: 43%; }
#results li[data-poll-pct="44"]:before { width: 44%; }
#results li[data-poll-pct="45"]:before { width: 45%; }
#results li[data-poll-pct="46"]:before { width: 46%; }
#results li[data-poll-pct="47"]:before { width: 47%; }
#results li[data-poll-pct="48"]:before { width: 48%; }
#results li[data-poll-pct="49"]:before { width: 49%; }
#results li[data-poll-pct="50"]:before { width: 50%; }
#results li[data-poll-pct="51"]:before { width: 51%; }
#results li[data-poll-pct="52"]:before { width: 52%; }
#results li[data-poll-pct="53"]:before { width: 53%; }
#results li[data-poll-pct="54"]:before { width: 54%; }
#results li[data-poll-pct="55"]:before { width: 55%; }
#results li[data-poll-pct="56"]:before { width: 56%; }
#results li[data-poll-pct="57"]:before { width: 57%; }
#results li[data-poll-pct="58"]:before { width: 58%; }
#results li[data-poll-pct="59"]:before { width: 59%; }
#results li[data-poll-pct="60"]:before { width: 60%; }
#results li[data-poll-pct="61"]:before { width: 61%; }
#results li[data-poll-pct="62"]:before { width: 62%; }
#results li[data-poll-pct="63"]:before { width: 63%; }
#results li[data-poll-pct="64"]:before { width: 64%; }
#results li[data-poll-pct="65"]:before { width: 65%; }
#results li[data-poll-pct="66"]:before { width: 66%; }
#results li[data-poll-pct="67"]:before { width: 67%; }
#results li[data-poll-pct="68"]:before { width: 68%; }
#results li[data-poll-pct="69"]:before { width: 69%; }
#results li[data-poll-pct="70"]:before { width: 70%; }
#results li[data-poll-pct="71"]:before { width: 71%; }
#results li[data-poll-pct="72"]:before { width: 72%; }
#results li[data-poll-pct="73"]:before { width: 73%; }
#results li[data-poll-pct="74"]:before { width: 74%; }
#results li[data-poll-pct="75"]:before { width: 75%; }
#results li[data-poll-pct="76"]:before { width: 76%; }
#results li[data-poll-pct="77"]:before { width: 77%; }
#results li[data-poll-pct="78"]:before { width: 78%; }
#results li[data-poll-pct="79"]:before { width: 79%; }
#results li[data-poll-pct="80"]:before { width: 80%; }
#results li[data-poll-pct="81"]:before { width: 81%; }
#results li[data-poll-pct="82"]:before { width: 82%; }
#results li[data-poll-pct="83"]:before { width: 83%; }
#results li[data-poll-pct="84"]:before { width: 84%; }
#results li[data-poll-pct="85"]:before { width: 85%; }
#results li[data-poll-pct="86"]:before { width: 86%; }
#results li[data-poll-pct="87"]:before { width: 87%; }
#results li[data-poll-pct="88"]:before { width: 88%; }
#results li[data-poll-pct="89"]:before { width: 89%; }
#results li[data-poll-pct="90"]:before { width: 90%; }
#results li[data-poll-pct="91"]:before { width: 91%; }
#results li[data-poll-pct="92"]:before { width: 92%; }
#results li[data-poll-pct="93"]:before { width: 93%; }
#results li[data-poll-pct="94"]:before { width: 94%; }
#results li[data-poll-pct="95"]:before { width: 95%; }
#results li[data-poll-pct="96"]:before { width: 96%; }
#results li[data-poll-pct="97"]:before { width: 97%; }
#results li[data-poll-pct="98"]:before { width: 98%; }
#results li[data-poll-pct="99"]:before { width: 99%; }
#results li[data-poll-pct="100"]:before { width: 100%; }

#results li:after { content: attr(data-poll-pct) "%"; position: absolute; bottom: 1px; left: 4px; color: #ddd; }